*{
    padding: 0;
    margin: 0;
}

body{
    background: url(https://p0.pikist.com/photos/207/986/sky-cloud-scenery-landscape-blue-nature-weather-background.jpg ) center/cover  ;
    width: 100%;
    height: 100vh;
}

.weather{
    text-align: center;
}